/* CSS SECRET AGENT SUPPLY */


html, body {
	height: 100%;
	font-family: "Helvetica", sans-serif;
	font-size: 18px;
	color: white;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
	align-items: center;
}



/* HEADER */



header {
	background-color: black;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	height: 3rem;
}

header img {
	margin-left: 0.5rem;
	height: 1.5rem;
}

header span {
	margin-left: 1rem;
}



/* HERO IMAGE */



.hero {
	height: 25rem;
	background-image: url("images/moto.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-text {
	position: absolute;
	top: 9rem;
	width: 25rem;
	height: auto;
	background-color: black;
	font-weight: bold;
}

.hero-text h1 {
	margin-left: 3rem;
	margin-top: 0.25rem;
	margin-bottom: 2rem;
	font-size: 2rem;
}

.hero-text span {
	display: block;
	margin-left: 3rem;
	margin-top: 2rem;
}

.hero-small {
	display: none;
}



/* NAV BAR */



nav {
	background-color: firebrick;
}

.nav-bar-large {
	width: 100%;
}

.nav-bar-medium {
	display: none;
}

nav ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

nav li {
	padding: 0.75rem 0rem;
}

nav a {
	color: white;
	text-decoration: none;
}



/* PRODUCTS */



.product-container {
	flex-direction: row;
	justify-content: space-between;
	margin: 3rem 0rem;
	width: 100%;
}

.product-col {
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 15rem;
	border: 4px solid black;
	overflow: hidden;
	text-align: center;
}

.product {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9rem;
	padding: 2rem 2rem;
}

.product img {
	max-width: 8rem;
}

.product-text {
	padding: 0.5rem 0rem;;
	background-color: black;
}

.store-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 4rem;
}

.location-col, .hour-col {
	width: 35%;
}

.location, .hours {
	padding: 1rem; 0rem;
	background-color: black;
}

.gps, .time {
	color: black;
}

.location span, .hours span {
	margin-left: 2rem;
	margin-top: 1rem;
}



/* FOOTER */



footer {
	position: relative;
	height: 10rem;
	background-color: black;
}

.copyright {
	display: flex;
	align-content: center;
}


/* @media MEDIUM */


@media only screen and (max-width: 1024px) {

	.container {
		max-width: 800px;
		margin: 0 auto;
	}

	.hero-text {
		margin-left: 2rem;
	}

	.nav-bar-large {
		display: none;
	}

	.nav-bar-medium {
		display: flex;
		justify-content: center;
		margin: 0.75rem auto;

	}

	.product-col {
		flex-wrap: wrap;
		width: 40%;
		margin: auto
	}

	.store-details {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.location-col span, .hour-col span {
		margin-left: 0;
	}

	.product-col.glasses {
		display: none;
	}

	.copyright {
		margin: 0 auto;
	}

}


/* @media SMALL */


@media only screen and (max-width: 504px) {

	.container.flex {
		justify-content: center;
	}

	header span {
		display: none;
	}

	.hero {
		display: none;
	}

	.hero-small {
		display: flex;
		height: 15rem;
		background-image: url("images/moto.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.hero-image-small img{
		height: 10rem;
	}

	.hero-text-small {
		position: absolute;
		top: 14rem;
		height: auto;
		background-color: black;
		font-weight: bold;
		width: 100%;
		margin-left: 0;
	}

	.hero-text-small h1 {
		font-size: 1rem;
		margin-left: 2rem;
		margin-bottom: 1rem;
	}

	.hero-text-small span {
		display: block;
		font-size: 0.77rem;
		margin-left: 2rem;
		margin-top: 1rem;
		margin-bottom: .25rem;
	}

	.product-col.watch {
		display: none;
	}

	.store-details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.location-col {
		margin-bottom: 2rem;
	}

	.location-col, .hour-col {
		width: 90%;
		text-align: center;
	}

	.product-col.pen {
		width: 90%;
		margin: 0 auto;
	}

	.copyright {
		margin: 0 auto;
	}

}
